{{#with block-3el}}
<div id="nav-btn-2-content" class="block-3el">
	<div class="block-title">{{title}}</div>
	<div class="block-3el_subtitle">{{subtitle}}</div>
	<div class="block-3el_background">
		<div class="block-3el_gradient"></div>
		<div class="block-3el_gradient-sides"></div>
		<img src="img/block-3el-back.jpg" alt="" class="block-3el_background-img">
	</div>
	<div class="block-3el_content">
		<div class="block-3el_container container-fluid">
			<div class="block-3el-row block-3el-row-1 row">
				<div class="block-3el_item-wrapper hc-col-sm-12">
					<div class="block-3el_item">
						<div class="block-3el_item-title">{{block1-title}}</div>
						<div class="block-3el_item-content">{{{block1-content}}}</div>
					</div>
				</div>
			</div>
            <div class="block-3el-row block-3el-row-1 row">
                <div class="block-3el_item-wrapper hc-col-sm-6">
                    <div class="block-3el_item">
                        <div class="block-3el_item-title">{{block2-title}}</div>
                        <div class="block-3el_item-content">{{{block2-content}}}</div>
                    </div>
                </div>
                <div class="block-3el_item-wrapper hc-col-sm-6">
                    <div class="block-3el_item">
                        <div class="block-4el_img-wrapper">
                            <img class="img-full" src="img/block3-el2.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-3el-row block-3el-row-1 row">
                <div class="block-3el_item-wrapper hc-col-sm-6 block-3el_item-wrapper__padding-bottom">
                    <div class="block-3el_item">
                        <div class="block-3el_item-title">{{block3-title}}</div>
                        <div class="block-3el_item-content">{{{block3-content}}}</div>
                    </div>
                </div>
                <div class="block-3el_item-wrapper hc-col-sm-6 block-3el_item-wrapper__padding-bottom">
                    <div class="block-3el_item">
                        <div class="block-4el_img-wrapper">
                            <img class="img-full" src="img/block3-el3.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
{{/with}}
