{{#with header}}
<header class="header">
	<div class="header_upper-part">
		<div class="header_wrapper-title">
			<div class="header_title">
				<img class="header_logo" alt= "logo" src="img/energyua_logo.png"/>
				<div class="header_title-text">{{title}}</div>
			</div>
		</div>
		<div class="header_gradient1"></div>
	</div>

	<div class="header_lower-part">

		<div id="#about" class="header_info-wrapper">
			<div class="header_info">
				<div class="header_info-inner">
					<div class="header_info-title">{{info-title}}</div>
					<div class="header_info-content container-fluid">
						<div class="row">
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/wireframe.png"/>
										<div class="about_title">
											<div class="about_title-content">{{block1-title}}</div>
										</div>
									</div>
									<div class="about_content">{{{block1-content}}}</div>
								</div>
							</div>
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/packaging.png"/>
										<div class="about_title">
											<div class="about_title-content">{{block2-title}}</div>
										</div>
									</div>
									<div class="about_content">{{{block2-content}}}</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/graphic-tablet.png"/>
										<div class="about_title">
											<div class="about_title-content">{{block3-title}}</div>
										</div>
									</div>
									<div class="about_content">{{{block3-content}}}</div>
								</div>
							</div>
							<div class="hc-xs-12 hc-col-sm-6 header_info-item">
								<div class="about_item">
									<div class="about_header">
										<img class="about_icon" alt="" src="img/loupe.png"/>
										<div class="about_title">
											<div class="about_title-content">{{block4-title}}</div>
										</div>
									</div>
									<div class="about_content">{{{block4-content}}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</header>
{{/with}}
