{{#with navbar}}
<nav class="navbar">
	<div class="navbar-n">
		<div class="navbar-n_logo">
			<a href="/"><img class="img" alt="logo" src="img/energyua_logo.png"/></a>
		</div>
		<ul class="navbar-n_menu">
			<li class="navbar-n_menu-item">
				<div class="lang-v">
					{{#langVerticalMenu ../langData}}
					{{/langVerticalMenu}}
				</div>
			</li>
			<li class="navbar-n_delimiter"></li>
			<li id="nav-btn-4" class="navbar-n_menu-item"><a href="#contacs">{{nav-btn-4}}</a></li>
			<li class="navbar-n_delimiter"></li>
			<li id="nav-btn-3" class="navbar-n_menu-item"><a href="#association">{{nav-btn-3}}</a></li>
			<li class="navbar-n_delimiter"></li>
			<li id="nav-btn-2" class="navbar-n_menu-item"><a href="#cooparatives">{{nav-btn-2}}</a></li>
			<li class="navbar-n_delimiter"></li>
			<li id="nav-btn-1" class="navbar-n_menu-item"><a href="#about">{{nav-btn-1}}</a></li>
		</ul>
	</div>

	<div class="navbar-collapsed">
		<div class="navbar-collapsed_logo">
			<a href="/"><img class="img" src="img/energyua_logo.png"/></a>
		</div>
		<div class="navbar-collapsed_btn">
			<div class="navbar-collapsed_btn-content">
				<div class="navbar-collapsed_btn-stripe"></div>
				<div class="navbar-collapsed_btn-stripe"></div>
				<div class="navbar-collapsed_btn-stripe"></div>
			</div>
		</div>

		<ul class="navbar-collapsed_menu">
			<li class="navbar-collapsed_menu-item"><a href="#about">{{nav-btn-1}}</a></li>
			<li class="navbar-collapsed_menu-item"><a href="#cooparatives">{{nav-btn-2}}</a></li>
			<li class="navbar-collapsed_menu-item"><a href="#association">{{nav-btn-3}}</a></li>
			<li class="navbar-collapsed_menu-item"><a href="#contacs">{{nav-btn-4}}</a></li>
			<li class="navbar-collapsed_menu-item">
				<a class="invisible" href="#">Invisible hack</a>
				<div class="navbar-collapsed_lang-wrapper">
					<ul class="lang-h">
						{{#langHorizontalMenu ../langData}}
						{{/langHorizontalMenu}}
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>
{{/with}}
